body{
	background-color:#E8E8E8;
	font-family: Arial; 
}

h1{
	color:#2F4F4F;
}

#txt_input{
	padding: 0px 30px 0px 0px;
	border:solid 1px grey;
	border-radius:5px;
	background-color:#FFF0F5; 
	cursor: pointer;
	outline: none;
	width:100%;
}

#barra_separa{
	margin-top: 30px;
	background-color:grey; 
	height: 1px;
	width:100%;
}

.col1{
display: block;
width:200px;
word-wrap: break-word;
}

.col3{
display: block;
width:600px;
word-wrap: break-word;

}


.container_table{
margin: 10px 50px 50px 50px;	
display:block;
overflow:auto;
border:solid 1px grey;
border-radius:10px;
max-height:1000px;
background-color:white; 
display: none; 

}

.frmt_tabela_fretes {
	border:solid 1px grey;
	margin: 10px;
	border-radius: 0px 0px 30px 30px;


}

.frmt_tabela_fretes th {
	background-color: #1C1C1C;
	border:solid 1px black;
	color:grey;
	padding: 5px;
	padding-left: 40px;
	padding-right:40px;	
	text-align: center;

	
}

.frmt_tabela_fretes td { 
	text-align: center;
	padding-top:6px;
	padding-bottom:6px;	

}

.frmt_tabela_fretes tr:hover{
background-color:rgba(240,240,240,1);  
}



.styline_line_table_2{
	background-color:rgba(245,235,235,1);

}



.config_btn{
	background-color: #363636;
	color:#CFCFCF;
	border:solid 1px #363636;
	padding: 5px 30px 5px 30px;
	cursor: pointer;
	font-weight: bold;
	outline:none;
	border-radius: 5px;
	margin-top: 10px;
}

.config_btn:hover{
	transition: 0.5s;
	background-color: rgba(0,0,0,0.2);
	color:#363636;
}


#msg_erro{
	position: fixed;
	right:20px;
	bottom:20px;
	padding: 2px 50px 2px 50px;
	background-color: #8B3A3A;
	border:solid 1px black;
	color:#E8E8E8;
	font-weight: bold;
	border-radius: 5px;
	display: none; 
}

.frmt_grupo_pesquisa{
	margin-top: -25px;
	margin-left: -15px;
	margin-bottom: 30px;
	display: none; 
	
}

#titulo_mapeamento{
	display: none; 
}

#bloco_qtd_reg{
	margin-left: 50px;
	font-weight: bold;
	display: none; 

}

#bloco_qtd_reg p{
	display: inline;
	color:#4F4F4F;
}

#total_qtd_reg{
margin-left: 10px;
font-weight: 500;	
display: inline;
}

.titulo_retorno_tags{
	display: inline-block;
	font-weight: bold;
	
}

.valor_retorno_tags{
	display: inline-block;
	margin-left: 10px;

}

.bloco_retorno_tags{
	color:#4F4F4F;
	margin-top: 5px;
	display: none;
}

.retorno_tags{
	margin-bottom: 30px;
}

#cx_subtag1 {
	background-color:#B2DFEE;
	cursor:pointer;

}

.grupo_sub_tag1{
	margin-top: -20px;
	margin-left: -15px;	
	display: none;
	
}